<div class="subscriptions-container">
  <mat-card class="subscriptions-card">
    <h2 class="title">My Subscriptions</h2>

    <div class="subscription-list">
      <mat-list>
        <mat-list-item
          *ngFor="let item of subscriptions"
          class="subscription-item">
          <span (click)="navigate(item)" class="item-type">{{ item.sub_type | titlecase }}:</span> {{ item.subject_name }}
          <button (click)="unsubscribeClick(item)" class="unsubscribe-btn" mat-raised-button>
            <mat-icon>unsubscribe</mat-icon>
            Unsubscribe
          </button>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>
</div>
