<div class="home-wrapper">

  <!-- FAVORITE GENRES -->
  <div class="section-header">
    <h2 class="section-title">Favorite Genres</h2>
  </div>

  <div class="genre-tags">
  <span class="genre-tag" *ngFor="let item of genreFavorite">
    {{ item.name }}
  </span>
  </div>

  <!-- QUICK PICKS -->
  <div class="section-header-genres">
    <h2 class="section-title">{{ this.getTimeBucket() }} Vibes</h2>
  </div>

  <div class="genre-tags">
  <span class="genre-tag" (click)="genreClicked(item)" *ngFor="let item of genreTimeFavorite">
    {{ item.name }}
  </span>
  </div>
  <!-- LISTEN AGAIN -->
  <div class="section-header">
    <h2 class="section-title">Listen Again</h2>
  </div>

  <div class="feed-grid songs">
    <mat-card (click)="songClicked(item)" class="song-card" *ngFor="let item of songs">
      <div class="song-image-wrapper">
        <img [src]="item.imageUrl" alt="{{ item.name }}" class="song-image" />
        <hr>
        <button mat-icon-button class="play-button">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </div>
      <h3 class="song-name">{{item.name}}</h3>
    </mat-card>
  </div>

  <!-- ARTISTS SECTION -->
  <div class="section-header">
    <h2 class="section-title">Favourite Artists</h2>
  </div>

  <div class="feed-row artists no-image">
    <mat-card class="artist-card" *ngFor="let artist of artists">
      <div class="artist-body">
        <h3 class="artist-name">{{ artist.name }}</h3>
      </div>
    </mat-card>
  </div>


</div>
