<div class="album-container" *ngIf="album">
  <mat-card class="album-card">
    <h2 class="title">{{ album.name }}</h2>

    <p><strong>Artist:</strong>
      <a (click)="navigateToArtist(album.author.id)">
        {{ artistNames[album.author.id] || album.author.name }}
      </a>
    </p>

    <div class="songs-list">
      <h3>Songs:</h3>
      <mat-list>
        <mat-list-item *ngFor="let song of album.songs" class="song-item">
          <div (click)="navigateToSong(song.id)">
            {{ song.fileName }}
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>
</div>
