.profile-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 2rem;
  background: #121212; /* Dark theme */
}

.profile-card {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  background: #1e1e2f;
  color: #f0f0f0;
  border: 1px solid #bb86fc;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(187, 134, 252, 0.2);
}

.title {
  text-align: center;
  color: #e1bee7;
  margin-bottom: 1.5rem;
}

.subtitle {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #bb86fc;
}

.info p {
  margin: 0.5rem 0;
  font-size: 1.2rem
}

.lists-container {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 1.5rem;
  border: 1px solid #bb86fc;
  border-radius: 0.5rem;
}

.list-item {
  cursor: pointer;
  transition: background 0.2s;
}

.list-item:hover {
  background: rgba(187, 134, 252, 0.2);
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.button-group button {
  background: linear-gradient(45deg, #bb86fc, #ff4081);
  color: white;
  font-weight: bold;
}

.button-group button:hover {
  opacity: 0.9;
}

.button-group-2 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.button-group-2 button {
  background: linear-gradient(45deg, red, darkred);
  color: white;
  font-weight: bold;
}

.button-group-2 button:hover {
  opacity: 0.9;
}
